url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@1,200&family=Oswald:wght@300&family=Palanquin&family=Raleway:wght@100&family=Roboto+Condensed&family=Source+Sans+Pro:wght@200&family=Ubuntu&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Palanquin, sans-serif;
    background: whitesmoke;
}

h1 {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 50px;
    letter-spacing: 5px;

}

.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
}

.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
